{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<div id="{pieId}"></div>
<script>

    var pieId = "{pieId}";
    var height = "{height}";
    var width = "{width}";
    var outerRadius = "{outerRadius}";
    var innerRadius = "{innerRadius}";

    var pieData = '{pieData}';
    var pieDataDecoded = he.decode(pieData);
    pieDataDecoded = pieDataDecoded.split("|");

    for (var i = 0, len = pieDataDecoded.length; i < len; i++){
        var str = pieDataDecoded[i];

        if(str != ''){
            pieDataDecoded[i] = JSON.parse(str);
            pieDataDecoded[i].value = parseFloat(pieDataDecoded[i].value);
        }
    }

    width = width ? width : 300;
    height = height ? height : 300;
    outerRadius = outerRadius ? outerRadius : "75%";
    innerRadius = innerRadius ? innerRadius : 0;
    var pie = new d3pie(pieId, {
        header: {
            title: {
                text: ""
            }
        },
        data: {
            content: pieDataDecoded
        },
        size: {
            canvasHeight: height,
            canvasWidth: width,
            pieOuterRadius: outerRadius,
            pieInnerRadius: innerRadius
        }

    });

</script>
<div>
<f:if condition="{neos:rendering.inBackend()}">
    <f:then>
        {pieNodes -> f:format.raw()}
    </f:then>
    <f:else>
    </f:else>
</f:if>
</div>