{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<section{attributes -> f:format.raw()} style="
    <f:if condition="{minHeight}">min-height: {minHeight};</f:if><f:if condition="{bgAttachment}">background-attachment: {bgAttachment};</f:if><f:if condition="{bgColor}">background-color: {bgColor};</f:if><f:if condition="{bgImage}">background-image: url({neos.media:uri.image(image: bgImage)});</f:if><f:if condition="{bgSize}">background-size: {bgSize};</f:if><f:if condition="{bgPosition}">background-position: {bgPosition};</f:if><f:if condition="{bgRepeat}">background-repeat: {bgRepeat};</f:if>">
    {content -> f:format.raw()}
</section>
<div>
 testi
</div>